.entry-item[data-v-f4aa1104]{border:1px solid #e5e7eb;transition:all .2s ease}.entry-item[data-v-f4aa1104]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-f4aa1104]:hover{color:var(--el-color-primary)}
