.step-item[data-v-49f6894d]{border:1px solid #e5e7eb;transition:all .2s ease}.step-item[data-v-49f6894d]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-49f6894d]:hover{color:var(--el-color-primary)}
