.store-item[data-v-a90b53c1]{border:1px solid #e5e7eb;transition:all .2s ease}.store-item[data-v-a90b53c1]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-a90b53c1]:hover{color:var(--el-color-primary)}
