.notice-item[data-v-52de4db8]{border:1px solid #e5e7eb;transition:all .2s ease}.notice-item[data-v-52de4db8]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-52de4db8]:hover{color:var(--el-color-primary)}
