.faq-item[data-v-3319fdec]{border:1px solid #e5e7eb;transition:all .2s ease}.faq-item[data-v-3319fdec]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-3319fdec]:hover{color:var(--el-color-primary)}
