.staff-item[data-v-38a1333b]{border:1px solid #e5e7eb;transition:all .2s ease}.staff-item[data-v-38a1333b]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-38a1333b]:hover{color:var(--el-color-primary)}
