.portfolio-item[data-v-a39a5816]{border:1px solid #e5e7eb;transition:all .2s ease}.portfolio-item[data-v-a39a5816]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-a39a5816]:hover{color:var(--el-color-primary)}
