.coupon-item[data-v-9e0b4612]{border:1px solid #e5e7eb;transition:all .2s ease}.coupon-item[data-v-9e0b4612]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-9e0b4612]:hover{color:var(--el-color-primary)}
