.package-item[data-v-cf85ca43]{border:1px solid #e5e7eb;transition:all .2s ease}.package-item[data-v-cf85ca43]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-cf85ca43]:hover{color:var(--el-color-primary)}
