.topic-item[data-v-6920b713]{border:1px solid #e5e7eb;transition:all .2s ease}.topic-item[data-v-6920b713]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-6920b713]:hover{color:var(--el-color-primary)}
