.stats-item[data-v-38d43f40]{border:1px solid #e5e7eb;transition:all .2s ease}.stats-item[data-v-38d43f40]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-38d43f40]:hover{color:var(--el-color-primary)}
