.review-item[data-v-e220d434]{border:1px solid #e5e7eb;transition:all .2s ease}.review-item[data-v-e220d434]:hover{border-color:var(--el-color-primary-light-5)}.drag-handle[data-v-e220d434]:hover{color:var(--el-color-primary)}
