.wedding-countdown .time-unit[data-v-8e326d05]{text-align:center}.wedding-countdown .time-item[data-v-8e326d05]{display:inline-flex;align-items:baseline}.wedding-countdown .time-box[data-v-8e326d05]{text-align:center}
